# Git
.git
.gitignore

# Build output
target/
build/

# IDE files
.idea
.vscode
*.iml

# Logs
*.log

# OS files
.DS_Store

# Env / secrets
.env
.env.*

# Docker (optional)
Dockerfile
docker-compose.yml